@import "components/site-header.css";
@import "components/hero.css";
@import "components/current-news.css";
@import "components/app.css";
@import "components/footer.css";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  margin: 20px;
  padding-top: 100px;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
