.current-news h3:hover {
  text-decoration: underline;
}

.current-news i:hover {
  color: rgb(65, 65, 65);
}

.current-news h2 {
  padding-top: 40px;
  padding-bottom: 30px;
}

.current-news h3 {
  padding-bottom: 20px;
  font-size: 1.25rem;
}

.current-news p {
  line-height: 25px;
  padding-bottom: 150px;
}

.current-news > div {
  display: flex;
  gap: 15px;
}

.current-news {
  position: relative;
}

.current-news img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.container1 {
  background-color: #898c85;
  width: 100%;
}

.container2 {
  background-color: #dad5d2;
  width: 100%;
}
.container3 {
  background-color: #9c7c60;
  width: 100%;
}

.container1 div:nth-child(2) {
  padding: 20px;
}

.container2 div:nth-child(2) {
  padding: 20px;
}
.container3 div:nth-child(2) {
  padding: 20px;
}

.current-news i {
  font-size: 3rem;
  position: absolute;
  bottom: 10px;
  margin: 10px;
}

@media (max-width: 930px) {
  .container3 {
    display: none;
  }
}

@media (max-width: 530px) {
  .container2,
  .container3 {
    display: none;
  }
}
